<!DOCTYPE html>
<html>
  <head>
    <title>Simple Trello Integration</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'trello-app', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'trello-app' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
